@font-face{font-family:devicon;src:url("/fonts/devicon.woff") format("woff"),url("/fonts/devicon.ttf") format("truetype"),url("/fonts/devicon.svg") format("svg");font-weight:400;font-style:normal;font-display:block}
[class^=devicon-],[class*=" devicon-"]{font-family:"devicon" !important;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.devicon-angular-plain:before{content:""}
.devicon-angular-plain-wordmark:before{content:""}
.devicon-bash-plain:before{content:""}
.devicon-c-plain:before,.devicon-c-plain-wordmark:before{content:""}
.devicon-cplusplus-plain:before,.devicon-cplusplus-plain-wordmark:before{content:""}
.devicon-docker-plain:before{content:""}
.devicon-docker-plain-wordmark:before{content:""}
.devicon-fastapi-plain:before{content:""}
.devicon-fastapi-plain-wordmark:before{content:""}
.devicon-git-plain:before{content:""}
.devicon-git-plain-wordmark:before{content:""}
.devicon-haskell-plain:before{content:""}
.devicon-haskell-plain-wordmark:before{content:""}
.devicon-java-plain:before{content:""}
.devicon-java-plain-wordmark:before{content:""}
.devicon-javascript-plain:before{content:""}
.devicon-linux-plain:before{content:""}
.devicon-mongodb-plain:before{content:""}
.devicon-mongodb-plain-wordmark:before{content:""}
.devicon-mysql-original:before,.devicon-mysql-plain:before{content:""}
.devicon-mysql-plain-wordmark:before{content:""}
.devicon-opencv-plain:before{content:""}
.devicon-opencv-plain-wordmark:before{content:""}
.devicon-postgresql-plain:before{content:""}
.devicon-postgresql-plain-wordmark:before{content:""}
.devicon-python-plain:before{content:""}
.devicon-python-plain-wordmark:before{content:""}
.devicon-rabbitmq-original:before,.devicon-rabbitmq-plain:before{content:""}
.devicon-rabbitmq-plain-wordmark:before{content:""}
.devicon-react-original:before,.devicon-react-plain:before{content:""}
.devicon-react-original-wordmark:before,.devicon-react-plain-wordmark:before{content:""}
.devicon-rust-original:before,.devicon-rust-plain:before{content:""}
.devicon-tensorflow-original:before{content:""}
.devicon-tensorflow-original-wordmark:before{content:""}
.devicon-typescript-plain:before,.devicon-typescript-original:before{content:""}
.devicon-angular-plain.colored,.devicon-angular-plain-wordmark.colored{color:#fff}
.devicon-bash-plain.colored{color:#293138}
.devicon-c-plain.colored,.devicon-c-plain-wordmark.colored,.devicon-c-line.colored,.devicon-c-line-wordmark.colored,.devicon-c-plain-wordmark.colored,.devicon-c-line-wordmark.colored{color:#03599c}
.devicon-cplusplus-plain.colored,.devicon-cplusplus-line.colored,.devicon-cplusplus-plain-wordmark.colored,.devicon-cplusplus-line-wordmark.colored{color:#004482}
.devicon-docker-plain.colored,.devicon-docker-plain-wordmark.colored{color:#019bc6}
.devicon-fastapi-plain.colored,.devicon-fastapi-plain-wordmark.colored{color:#009688}
.devicon-git-plain.colored,.devicon-git-plain-wordmark.colored{color:#f34f29}
.devicon-haskell-plain.colored,.devicon-haskell-plain-wordmark.colored{color:#5e5185}
.devicon-java-plain.colored,.devicon-java-plain-wordmark.colored{color:#ea2d2e}
.devicon-javascript-plain.colored{color:#f0db4f}
.devicon-linux-plain.colored{color:#000}
.devicon-mongodb-plain.colored,.devicon-mongodb-plain-wordmark.colored{color:#4faa41}
.devicon-mysql-original.colored,.devicon-mysql-plain-wordmark.colored,.devicon-mysql-plain.colored{color:#00618a}
.devicon-opencv-plain.colored,.devicon-opencv-plain-wordmark.colored{color:#128dff}
.devicon-postgresql-plain.colored,.devicon-postgresql-plain-wordmark.colored{color:#336791}
.devicon-python-plain.colored,.devicon-python-plain-wordmark.colored{color:#ffd845}
.devicon-rabbitmq-original.colored,.devicon-rabbitmq-plain-wordmark.colored,.devicon-rabbitmq-plain.colored{color:#f60}
.devicon-react-original.colored,.devicon-react-original-wordmark.colored,.devicon-react-plain.colored,.devicon-react-plain-wordmark.colored{color:#61dafb}
.devicon-rust-original.colored,.devicon-rust-line.colored,.devicon-rust-plain.colored{color:#000}
.devicon-tensorflow-original.colored,.devicon-tensorflow-original-wordmark.colored,.devicon-tensorflow-line.colored,.devicon-tensorflow-line-wordmark.colored{color:#ff6f00}
.devicon-typescript-plain.colored,.devicon-typescript-original.colored{color:#007acc}